name: CD Pipeline

on:
  workflow_dispatch:

jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13.1"

      - name: Instalar dependências
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Rodar testes
        run: pytest

      - name: Criar artefato
        run: zip -r release.zip . -x "*.git*"

      - name: Upload artefato
        uses: actions/upload-artifact@v3
        with:
          name: release-package
          path: release.zip
